<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "hangting.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">杭廷顿海滩</h2>

 <h4 class="bbbtitle1">(Huntington Beach)</h4>

<p class="bbbtext">杭廷顿海滩坐落于橙县的南加州海岸沿岸,位于洛杉矶以南35英里、圣地

亚哥以北95 英里处。世界上规模最大的美国冲浪公开赛(U.S. Open of Surfing)在这里举行。

拥有西海岸最富规律的波浪且冲浪被视为一种生活方式的这里是唯一真正称得上美国冲浪城的

圣地。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "sheng.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">圣塔莫妮卡海滩</h2>

 <h4 class="bbbtitle1">(Santa Monica Beach)</h4>

<p class="bbbtext">圣塔莫妮卡是洛杉矶最著名的海滩之一,拥有洛杉矶最著名的码头嘉

年华,包括过山车、海盗船、空中悬挂等等游艺项目。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "la.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">拉古娜海滩</h2>

 <h4 class="bbbtitle1">(Laguna Beach)</h4>

<p class="bbbtext">从洛杉矶沿着1号公路向圣地亚哥,会经过加州最美的海滩——拉古娜

海滩。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "xin.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">新港海滩</h2>

 <h4 class="bbbtitle1">(Newport Beach)</h4>

<p class="bbbtext">新港海滩是美国最富有的居民区之一,不但是南加地区,也是闻名全球的海

滨度假胜地。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "lahe.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">拉荷亚海滩</h2>

 <h4 class="bbbtitle1">(La Jolla Cove)</h4>

<p class="bbbtext">拉荷亚海岸线曲折优美,有悬崖也有海滩,被称为圣地亚哥之珠,是极佳的

住宅区,充满艺廊,精品店,露天咖啡馆,并有古老教堂,当代艺术馆。此外,拉荷亚市海水清

澈,是潜水人的乐园,游人与海豹和谐共泳。</p> 

 </div>

</div>