<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "di.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">迪斯尼乐园、加州冒险乐园</h2>

 <h4 class="bbbtitle1">(Disneyland & California Adventure Park)</h4>

<p class="bbbtext">加州的迪士尼乐园不论是园区规划或游乐设施,在欢乐度、刺激度与创新度

等各方面级数,在全球的迪士尼乐园里排名第2(仅次于奥兰多迪士尼)。加州的迪士尼乐园其实

是双园,在迪士尼乐园对​​面就是迪士尼加州冒险乐园。加州冒险乐园集合了加州万千变化的风

情所量身打造,更适合喜欢尝试新鲜和勇于冒险的年轻人,如果在香港已经玩过迪士尼乐园,建

议将重点放在加州冒险乐园。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "huan.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">环球影视城</h2>

 <h4 class="bbbtitle1">(Universal Studios)</h4>

<p class="bbbtext">好莱坞环球影城被称为“洛杉矶的娱乐之都”,是唯一一个集电影、

电视拍摄片场为一体的主题公园,为观众展现了一个真实的电影制片厂,影城内丰富的电影

文化资源让游客们流连忘返。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "lego.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">卡尔斯班乐高冒险乐园</h2>

 <h4 class="bbbtitle1">(Carlsbad Legoland)</h4>

<p class="bbbtext">加州乐高乐园位于加州圣地牙哥的卡尔斯班(Carlsbad),共有五十多个游

乐专案,主要针对2~12岁儿童设计,园内所有设施和景观基本都是以一块块色彩艳丽的乐高积

木堆砌而成,从进入乐高乐园,处处充满惊奇童趣,这里不仅是小朋友的梦想乐园,身为乐高迷

更是不能错过!</p> 

 </div>


 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "shenghai.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">圣地亚哥海洋世界</h2>

 <h4 class="bbbtitle1">(SeaWorld San Diego)</h4>

<p class="bbbtext">圣地亚哥海洋世界是世界最富盛名的海洋主题公园之一,自1964年开业

以来,已有超过一亿三千万游客来这里探访海洋的奥秘。</p> 

 </div>

</div>

<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "zoo.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">圣地亚哥动物园</h2>

 <h4 class="bbbtitle1">(San Diego Zoo)</h4>

<p class="bbbtext">圣地亚哥动物园是全球最大的动物园之一,它占地100英亩,在这片山丘绿

林情意的广袤地带,拥有世界上最先进的管理设施,也是全美第一只大熊猫安家的地方。</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "safari.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">圣地亚哥野生动物园</h2>

 <h4 class="bbbtitle1">(San Diego Safari Park)</h4>

<p class="bbbtext">在圣地亚哥野生动物园这个2,100英亩的野生保护区内,动物们自由地漫步,

仿佛在他们自己的野生家园。</p> 

 </div>

</div>