<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "zhu.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle"> 朱利安西部小镇风情</h2>

 <h4 class="bbbtitle1">(Julian)</h4>

<p class="bbbtext">朱利安小镇位于圣地亚哥东部60英里,是一个以西部风格为主的煤矿古镇,

也是在圣地亚哥唯一的淘金胜地.虽然位于阳光灿烂的南加州,小镇却难得一年四季都有不同的

景色,本地出产的苹果派更是远近闻名。</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "shengdi.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">圣地亚哥直升飞机海岸线巡游</h2>

 <h4 class="bbbtitle1">(San Diego Coast Line Helicopter Tour)</h4>

<p class="bbbtext">经验丰富的专业美国飞行员将带您踏上一生难忘的空中之旅,俯瞰圣地亚

哥所有主要景点和海岸线,一定令您大呼过瘾!带上一瓶香槟酒,一起庆祝只属于您们的特殊时

刻吧!</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "pi.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">皮划艇海狮趣味游</h2>

 <h4 class="bbbtitle1">(Kayaking Sea Cave Tour)</h4>

<p class="bbbtext">专业美国导游全程带领,双人皮划艇,前往著名的拉荷亚海滩礁石岩洞中与

憨态可掬的海狮们亲密接触。如果您仔细观看,或许还会发现鱼儿和海龟在您的身边快乐游走。

无论是情侣还是家人,快来享受这令人兴奋的神奇海洋探险之旅吧!</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "gang.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">刚朵拉海湾浪漫游</h2>

 <h4 class="bbbtitle1">(Gondola Bay Cruise)</h4>

<p class="bbbtext">身穿红白条纹服装的船夫划着造型优美的刚朵拉带您畅游布满豪宅的科罗

拉多海湾,耳畔传来船夫的一曲意大利歌曲(或专业音乐家悠扬的的曼陀林/小提琴琴声),手握

酒杯,让自己沉浸在这浓浓的异国风情中吧!多希望时间能永远的停在这一刻呀......</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "youlun.png", :class=>'bbbimage'%>

 <h2 class="bbbtitle">圣地亚哥海湾游轮晚餐</h2>

 <h4 class="bbbtitle1">(San Diego Bay Dinner Cruise)</h4>

<p class="bbbtext">吃着精美西餐,喝点儿小酒,听着音乐,欣赏着迷人的圣地亚哥海湾夜景......生

活,不就应该是这么惬意舒适的么!</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "si.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle1">私人游艇出海游</h2>

 <h4 class="bbbtitle">(Private Yacht)</h4>

<p class="bbbtext">欢迎登上漂亮现代的小型游艇,为您提供两个小时的港湾和大海动与静的

体验,放松身心,享受一路的无限美景。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "quan.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">全美第三大室内靶场射击练习</h2>

 <h4 class="bbbtitle1">(Indoor Shooting Range)</h4>

<p class="bbbtext">这座号称美西最大室内靶场的全新室内靶场共4万2000平方呎,有42个

射击道,射程分为25、50和100码。靶场前方是零售区,有各类全新枪枝共130万元库存。这

裡也是全美第三大室内靶场。</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "da.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">大熊山滑雪</h2>

 <h4 class="bbbtitle1">(Big Bear Mountain Ski)</h4>

 <p class="bbbtext">内陆地区的滑雪胜地大熊湖距离洛杉矶和圣地亚哥只有2、3个小时车程,

既适合有经验者训练,也可以帮助初学者掌握所有滑雪技能,让你早上滑雪下午冲浪变得不再是

梦想,是最受南加州人欢迎的滑雪胜地之一。</p> 

 </div>

</div>