<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "du.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">杜比剧院</h2>

 <h4 class="bbbtitle1">(Dolby Theater)</h4>

<p class="bbbtext">杜比剧院,原名柯达剧院,位于好莱坞的好莱坞大道上,紧邻中国剧

院。剧院2001年11月启用,是奥斯卡金像奖颁奖礼的永久举办地。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "hao.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">好莱坞星光大道、中国剧院</h2>

 <h4 class="bbbtitle1">(Hollywood Walk of Fame & Chinese Theater)</h4>

<p class="bbbtext">这里是一条沿着美国好莱坞大道与藤街伸展的人行道 ,有2000多颗

镶有好莱坞商会追敬名人姓名的星形奖章,以纪念他们对娱乐业的贡献。中国剧院位于星光

大道上,它建于1927年,是美国最著名的影院,它也是上映影片首映礼的首选之地,门前的

地上则是印有明星手印的星光大道。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "bi.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">比弗利山庄</h2>

 <h4 class="bbbtitle1">(Beverly Hills)</h4>

<p class="bbbtext">有“全世界最尊贵住宅区”称号,是洛杉矶市内最有名的城中城,每

年吸引无数来自世界各地的观光客,好奇地在大街小巷探索。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "luo.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">罗迪欧大道</h2>

 <h4 class="bbbtitle1">(Rodeo Drive)</h4>

<p class="bbbtext">被世界各家名牌精品店环绕的罗德尔街位于比弗利山庄,包含了所有

南加州最名贵的店家。这里的名言是:“买东西不要问价钱,问了就表示你买不起。” </

p> 

 </div>

</div>

<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "lao.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">老城</h2>

 <h4 class="bbbtitle1">(Old Town)</h4>

<p class="bbbtext">坐落在圣地亚哥市中心的圣地亚哥老城是一个美丽而充满乐趣的历史古

城,它是加州的诞生地,是西班牙早期殖民地,同时也是第一批欧洲人定居所。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "ka.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">卡塔琳娜海岛</h2>

 <h4 class="bbbtitle1">(Catalina Island)</h4>

<p class="bbbtext">“踏遍红尘千万路,人间至美却在蓦然回首处。”卡特琳娜岛是加州星罗

棋布的沿海岛屿中一颗最灿烂的明珠。据说它是黄石公园以西地区,至今仍可见到野牛四处漫游

的地方。抵达岛上后,当地还提供多彩多姿的水上旅游活动。</p> 

 </div>

</div>

<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "ke.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">科罗纳多半岛</h2>

 <h4 class="bbbtitle1">(Coronado Island)</h4>

<p class="bbbtext">科罗纳多半岛与圣地亚哥市隔海相望,美国海军第三舰队司令部就驻扎在

岛上,科罗纳多-圣地亚哥跨海大桥是其标志性建筑。建于1888年的科罗纳多酒店是一座全木结

构的建筑,以爱迪生为其亲自设计安装电灯而闻名,是明星王室政要们来到圣地亚哥首选的酒店,

著名的“爱美人不爱江山”的温莎公爵夫妇就是在这里第一次相遇的。</p> 

 </div>

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "zhong.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">中途岛航空母舰</h2>

 <h4 class="bbbtitle1">(USS Midway Aircraft Carrier)</h4>

<p class="bbbtext">中途岛号航空母舰位於圣地亚哥码头,是航空迷必到之处。它前面的雕像是

根据著名的新闻图片“胜利之吻”而建。这艘船因为中途岛战役而得名,曾参加过二战、越南

战争和海湾战争。这艘战舰创造了多项第一,其中包括第一艘起降喷气式战舰的航母以及的一艘

发射导弹的航母,1992年作为美军中服役年限最长的战舰而退役。</p> 

 </div>

</div>

<div class="row bbbrow">

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "hai.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">海港村</h2>

 <h4 class="bbbtitle1">(Seaport Village)</h4>

<p class="bbbtext">坐落於San Diego海滨,美丽的海景公园及休闲购物地,超过50间各具特

色的个性小店及美食小屋吸引了大量各地的游客和本地居民。每周六上午的露天海鲜市场更是

让本地吃货们趋之若鹜。</p> 

 </div>

<div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "zong.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">棕榈泉</h2>

 <h4 class="bbbtitle1">(Palm Springs)</h4>

<p class="bbbtext">沙漠的绿洲-棕榈泉:这里最著名的是天然温泉、滑雪场、高尔夫球场、路

旁摇曳的棕榈树和南加州最高档的奥特莱斯。这里最具特色的就是棕榈泉高空旋转缆车,这个高

空旋转缆车是世界上最壮观的高空缆车之一,夏天可以健行,冬天可以滑雪。</p> 

 </div>

</div>

<div class="row bbbrow">

 <div class="col-xs-5 col-xs-offset-1 bbbblock">

 <%= image_tag "te.jpg", :class=>'bbbimage'%>

 <h2 class="bbbtitle">特曼库拉酒乡</h2>

 <h4 class="bbbtitle1">(Temecula Valley Wine Country)</h4>

<p class="bbbtext">加利福尼亚南部的葡萄酒之乡,与北加州的纳帕酒乡遥相呼应,尤其以酒乡

热气球项目闻名。</p> 

 </div>

</div>