<div class="xuanzelvyou">
  <div class="btn-group" role="group">
  <p style="font-size: 20px;">搜索您感兴趣的<br>旅游景点</p>
   <div class="btn-group" style="float: none;">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        选择主题 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>
          <%= link_to "主题公园", theme_path(:id=>0)%>
        </li>
        <li><%= link_to "传统观光", theme_path(:id=>1)%></li>
        <li><%= link_to "名校项目", theme_path(:id=>2)%></li>
        <li><%= link_to "特色项目", theme_path(:id=>3)%></li>
        <li><%= link_to "体育活动", theme_path(:id=>4)%></li>
        <li><%= link_to "海滩", theme_path(:id=>5)%></li>
        <li><%= link_to "博物馆科技馆", theme_path(:id=>6)%></li>
      </ul>
    </div>
    <br>
    <p>OR</p>
    <div class="btn-group" style="float: none;">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        选择地区 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
      <li>
        <%= link_to "洛杉矶", place_path(:id=>0)%>
      </li>
      <li>
        <%= link_to "橙县", place_path(:id=>1)%>
      </li>
      <li><%= link_to "圣地亚哥", place_path(:id=>2)%></li>
    </ul>
    </div>
  </div>
</div>