<div class="bblock">
  <div style="background-image: url(<%= asset_path 'bg.png' %>)" class="full-img">
    <div>
      <div class="col-sm-12" style="text-align: center;">
        <%= image_tag "logo.png", size: '300x270'%>
      </div>
      <div class="col-sm-6 col-sm-offset-3" style="text-align: center; color: white;">
        <h2>茵莱桥文化服务有限责任公司</h2>
        <h4>位于美国加州著名海滨度假胜地圣地亚哥市。我公司旨在促进中美两国日益频繁和深
入的教育和文化交流，目前承接私人订制旅游、游学留学教育、商务考察访问、医疗就诊接诊等多项业务</h4>
      </div>
      <div class="col-sm-6">
        <div class="item-container">
          <%= link_to travel_path do%>
            <div>
              <%= image_tag "travellogo.png", size: '150x150', :class=>'image-item'%> <h3 class="sm-title">旅游</h3>
              <h3 class="h3-show">旅游</h3>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="item-container">
          <%= link_to edu_path do%>
            <div>
              <%= image_tag "edulogo.png", size: '150x150', :class=>'image-item'%> <h3 class="sm-title">教育</h3>
              <h3 class="h3-show">教育</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
