<%= image_tag "olhsheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "olhsfig.png", :style=>'float:left; width: 150px;'%>
  <p>路德中学橘郡高中 Orange Lutheran High School：
    创办于1973年，走读，接收9- 12年级学生，目前共有在校生1300余人。学校以雄厚的师资力量闻名，是一所本地闻名的私立基督教学校，学生艺术与体育水准很高。</p>
  <%= image_tag "olhspic.png"%>
  <p style="margin-left: 150px;">网址：http://www.lhsoc.org</p>
</div>

<%= image_tag "clhsheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "clhsfig.png", :style=>'float:left; width: 150px;'%>
  <p>路德中学克林高中 Crean Lutheran High School：
成立于2007年，位于华裔新移民的热点城市橙县尔湾市，走读的私立基督教学校，历史不长但凭借优良的管理与师资发展迅速，700多名在校高中生中有20%左右的国际学生，学校提供专门的国际学生咨询服务。</p>
  <%= image_tag "clhspic.png"%>
  <p style="margin-left: 150px;">网址：http://www.clshs.org</p>
</div>

<%= image_tag "aanaheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "aanafig.png", :style=>'float:left; width: 150px;'%>
  <p>美国加州陆海军寄宿学校 Army and Navy Acadamy:
美国加州陆海军寄宿学校 Army And Navy Academy成立于1910年，是南加州著名的男子军校。校园依海而建，风景优美，目前拥有7-12年级的在校学生300余人，国际学生约40人，提供ESL课程及暑期培训。由于在每年的联邦政府审查中的优异表现，学校也被认定为美国军方JROTC课程的荣誉成员，故被授权每年可指派3位学生参加美国军事学校包括西点军校、美国空军学校、美国海军学校的课程。</p>
  <%= image_tag "aanapic.png"%>
  <p style="margin-left: 150px;">网址：http://www.armyandnavyacademy.org</p>
</div>

<%= image_tag "lmsheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "lmsfig.png", :style=>'float:left; width: 150px;'%>
  <p>终生蒙特梭利学校 Lifetime Montessori School：
位于圣地亚哥市北郡的最佳学区之一，以幼儿教育为主，提供婴幼儿-小学低年级教育服务。小学部采取小班混合年级授课，传统的蒙特梭利教育理论与体系执行的非常好。</p>
  <%= image_tag "lmspic.png"%>
  <p style="margin-left: 150px;">网址：www.lifetimemontessorischool.com</p>
</div>

<%= image_tag "fpsheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "fpsfig.png", :style=>'float:left; width: 150px;'%>
  <p>弗朗西斯派克学校 Francis Parker School：
加州圣地亚哥市最有名的三所老牌私立学校之一，接收学前班预科至高中12年级的学生。创办于1912年，走读，被华尔街日报、CBS财经频道评为长期为美国名校尤其是常春藤名校输送高质量学生的顶级学校之一。</p>
  <%= image_tag "fpspic.png"%>
  <p style="margin-left: 150px;">网址：www.francisparker.org</p>
</div>

<%= image_tag "mcsheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "mcsfig.png", :style=>'float:left; width: 150px;'%>
  <p>位于圣地亚哥市新兴高档社区4S Ranch和Del Sur交界处的私立教会走读学校，提供从学前到12年级的全部教育课程。学校成立于1991年，注册学生共700余人，2006年开始正式接收国际学生，2014-2015学年共有40名留学生在此学习。</p>
  <%= image_tag "mcspic.png"%>
  <p style="margin-left: 150px;">网址: www.maranathachristianschools.org</p>
</div>

<%= image_tag "hcsheader.png", :style=>'width: 100%;'%>
<div class="school-block">
  <%= image_tag "hcsfig.png", :style=>'float:left; width: 150px;'%>
  <p>wenanruxia</p>
  <%= image_tag "hcspic.png"%>
  <p style="margin-left: 150px;">网址: www.heritagechristianschool.com</p>
</div>

<%= image_tag "edufooter.png", style: 'width: 100%'%>