<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "di.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">迪斯尼乐园、加州冒险乐园</h2>

        <h4 class="bbbtitle" style="margin-top:-10px">(Disneyland & California Adventure Park)</h4>

    <p class="bbbtext">加州的迪士尼乐园不论是园区规划或游乐设施，在欢乐度、刺激度与创新度等各方面

    级数，在全球的迪士尼乐园里排名第2(仅次于奥兰多迪士尼)。加州的迪士尼乐园其实是双园，在迪士尼乐

    园对​​面就是迪士尼加州冒险乐园。加州冒险乐园集合了加州万千变化的风情所量身打造，更适合喜欢尝

    试新鲜和勇于冒险的年轻人，如果在香港已经玩过迪士尼乐园，建议将重点放在加州冒险乐园。</p> 

  </div>


  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "bo.jpg", :class=>'bbbimage'%>


    <h2 class="bbbtitle">玻璃大教堂</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Crystal Cathedral)</h4>

<p class="bbbtext">历时12年的水晶大教堂于1980年竣工，成为世界建筑史上的奇迹与经典，也成为世界

各地前往加州的人必去瞻仰的胜景。教堂内的管风琴以其优秀的质量和超大的体积而闻名，它是世界五大

管风琴之一。一旁的钟塔中包含了许多高刨光不锈钢菱镜，并收藏了一个带有52个钟的钟乐器，为庆祝教

堂成立十周年之际建成。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "ka.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">卡塔琳娜海岛</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Catalina Island)</h4>

<p class="bbbtext">“踏遍红尘千万路，人间至美却在蓦然回首处。”卡特琳娜岛是加州星罗棋布的沿海

岛屿中一颗最灿烂的明珠。据说它是黄石公园以西地区，至今仍可见到野牛四处漫游的地方。抵达岛上后

，当地还提供多彩多姿的水上旅游活动。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "hangting.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">杭廷顿海滩</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Huntington Beach)</h4>

<p class="bbbtext">杭廷顿海滩坐落于橙县的南加州海岸沿岸，位于洛杉矶以南35英里、圣地亚哥以北95 

英里处。世界上规模最大的美国冲浪公开赛（U.S. Open of Surfing）在这里举行。拥有西海岸最富规律

的波浪且冲浪被视为一种生活方式的这里是唯一真正称得上美国冲浪城的圣地。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "la.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">拉古娜海滩</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Laguna Beach)</h4>

<p class="bbbtext">从洛杉矶沿着1号公路向圣地亚哥，会经过加州最美的海滩——拉古娜海滩。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "xin.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle">新港海滩</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(Newport Beach)</h4>

<p class="bbbtext">新港海滩是美国最富有的居民区之一，不但是南加地区，也是闻名全球的海滨度假胜

地。</p> 

  </div>

</div>

<div class="row bbbrow">

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "MLB.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle"> MLB 棒球赛</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(MLB Angels Game)</h4>

<p class="bbbtext">美国职棒大联盟(Major League Baseball，简称MLB)，是北美地区最高水平的职棒棒

球联赛。由国家联盟和美国联盟在1902年联合成立。是美国四大职业体育联盟之一。天使队是美国职业棒

球联赛的老牌劲旅，其主场所在的城市安娜汉姆同时也是迪斯尼所在地。</p> 

  </div>

  <div class="col-xs-5 col-xs-offset-1 bbbblock">

    <%= image_tag "UCI.jpg", :class=>'bbbimage'%>

    <h2 class="bbbtitle"> UCI校园</h2>

    <h4 class="bbbtitle" style="margin-top:-10px">(University of California, Irvine)</h4>

<p class="bbbtext">加利福尼亚大学尔湾分校（UCI）建于1965年，属于世界最知名且极赋声誉的最顶尖

公立大学。名列全美公立常春藤，在2015年USNEWS 排名中位居第43，而在公立大学排名中与伊利诺伊大学

香槟分校，德克萨斯大学奥斯汀分校以及华盛顿大学不分伯仲，并列于第13位。</p> 

  </div>

</div>